<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}"/>

    <title>File Storage</title>
</head>
<body>

  <div class="container">
    <h1>File Storage Application</h1>
      <hr />

  <table class="table table-bordered table-striped">
    <thread>
    <tr>
        <th>Actions</th>
        <th>Id</th>
        <th>Description</th>
        <th>Created At</th>
        <th>Updated At</th>
    </tr>
    </thread>
    <tbody>
      <tr th:each="item: ${fileItems}">

        <td>&nbsp;</td>


        <td th:text="${item.id}"></td>
        <td th:text="${item.description}"></td>

        <td th:text="${item.createdAt}"></td>
        <td th:text="${item.updatedAt}"></td>
      </tr>
    </tbody>
  </table>

      <p>
          <a class="btn-outline-success" href="/upload">
          <i class="bi bi-plus-square-fill"></i>Upload File</a>
      </p>

  </div>
<script th:src="@{webjars/bootstrap/5.2.2/js/bootstrap.min.js}"></script>

</body>

</html>